/* Added to fix weird white bar bug, but this is apparently not the best way of addressing this */
* {
  margin: 0;
  padding: 0;
}
#content {
  display: flex;
  justify-content: center;
}

header {
  background-color: black;
  color: white;
  width: 100%;
  height: 60px;
}

#headerText {
  position: absolute;
  top: 25px;
  left: 20px;
}

#grid {
  display: grid;
  width: 1000px;
  height: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.box {
  background-color: rgb(220, 220, 220);
  height: 200px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
}

#bank {
  grid-column-start: 1;
}
#work {
  grid-column-start: 2;
}

.balanceBox {
  display: inline-block;
  height: 40px;
  width: 100%;
}
#laptopSearch {
  grid-column-start: 3;
}

#laptopSpecific {
  grid-column-start: span 3;
  grid-row-start: 2;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 200px;
  display: flex;
  flex-direction: row;
}
p {
  display: inline-block;
}
#placeholderImg {
  max-width: 100%;
  max-height: 100%;
  grid-column-start: 1;
}
#computerDescription {
  grid-column-start: 2;
  grid-column-end: 3;
  width: 100%;
}
#purchaseBlock {
  grid-column-start: 4;
  width: 100%;
  position: relative;
}
#priceBlock {
  font-size: 40px;
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#laptopFeatures {
  font-size: 1rem;
  word-wrap: break-word;
}
#laptopFeaturesBox {
  flex: 1;
  word-wrap: break-word;
  overflow: scroll;
}
#loanValue {
  color: red;
}
h1 {
  font-size: 20px;
  height: 20px;
}
button {
  width: 6rem;
  height: 2rem;
  border-radius: 5px;
}
#workButtonContainer {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 10px;
}
.workButton {
  flex: 1 1 auto;
  justify-content: center;
}
#workButton {
  background-color: rgb(126, 56, 255);
  margin-right: 1rem;
}
#bankButton {
  background-color: rgb(234, 248, 29);

  margin-left: 1rem;
}
#loanButton {
  background-color: rgb(62, 255, 62);
}
#loanButtonContainer {
  display: flex;
  position: absolute;
  bottom: 20px;
  width: 100%;
  gap: 5px;
}

.loanButtons {
  flex: 1 1 auto;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

#downpayButton {
  background-color: rgb(8, 152, 195);
}
#featureHL {
  font-weight: bold;
}

#laptopName {
  font-weight: bold;
  font-size: 2rem;
  white-space: nowrap;
}

#descriptionBox {
  padding-left: 40px;
}

#laptopDescription {
  font-size: 1.2rem;
}
